@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html body {
    margin: 0;
    background: url('/Users/hasma00/Documents/JSOdin/weatherApp/src/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#search-container {
    background-color: rgb(0, 0, 0, 0.5);
    /* text-align: center; */
    padding: 20px;
}

#location {
    outline: none;
    width: 200px;
    background: rgb(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid white;
    color: white;
}

#location + label {
    position: relative;
    left: -205px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 400;
}

#location:focus {
    outline: 0;
    background: rgb(0, 0, 0, 0);
}

#location:focus + label {
    opacity: 0;
}

#location:valid + label{
    opacity: 0;
}

#search {
    position: relative;
    left: -140px;
    top: 6px;
    color: white;
    cursor: pointer;
}


#main-container {
    position: relative;
}

#info-area {
    position: absolute;
    top : 8vh; bottom: 0px; left: 0px; right: 0px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#info-area > div {
    color: white;
}

#cont-1 {
    grid-column: 1/4;
    justify-self: center;
    position: relative;
    top: 40px;
}

#cont-2, #cont-3 {
    justify-self: center;
    align-self: center;
}

#cont-2 {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    grid-column: 1/2;
}

#cont-2 span:first-child {
    display: block;
}

#cont-3 {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    grid-column: 3/4;
}

#cont-3 span:first-child {
    display: block;
}

#cont-4 {
    grid-column: 1/4;
    justify-self: center;
    align-self: end;
    position: relative;
    bottom: 50px;
}

#cont-4 div:first-child {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 20px;
}

#miles {
    font-size: 2rem;
}

#time {
    font-size: 4.5rem;
}

#timeFormat {
    position: absolute;
    top: 62px;
}

.time {
    font-size: 1.3rem;
}

#temp{
    font-size: 4.5rem;
    font-weight: 700;
}

#temp-desc {
    text-align: center;
    font-size: 25px;
}

#cont-5 {
    justify-self: center;
    align-self: center;
    text-align: center;
}

/* #weather-icon{
    background: url('http://openweathermap.org/img/wn/01d@2x.png') no-repeat;
    height: 100px;
    width: 100px;
} */

#forecast {
    position: absolute;
    bottom: 0px;
    min-height: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 10% 90%;
    color: white;
    justify-items: center;
    align-items: center;
}

#forecast-options {
    text-align: center;
}

#forecast-options > span {
    cursor: pointer;
}

#forecast-options > label {
    border-bottom: 1px solid white;
    display: block;
    margin: 20px;
    width: 100px;
}

@media only screen and (max-width: 800px) {
    #forecast-options > label {
        width: 50px;
    }
}

#hourly {
    opacity: 0.5;
}

#forecast-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.list > * {
    margin-bottom: 10px;
}

.list{
    text-align: center;
}

.material-icons {
    cursor: pointer;
}
/* #border {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
} */


